/.gradle
/.idea
/out
/build
/target
*.iml
*.ipr
*.iws

# Information about the Bot (Token + Name)
/bot_token
/bot_name

# data
/videos
/charts
/challengers.json
/challengers.json.backup
/fights.json
/fights.json.backup
/teams.json
/teams.json.backup
500.png
export.csv